

.content {
	padding: 10em 15px;
}

.tbl-header, .trips-table-header, .bookings-table-header, .tbl-footer, .trips-table-row td, .bookings-table-row td {
	padding: 1em;
}

.form-group {
	color: #9d9d9d;
}

footer {
/* 	font-size: 10pt; */
}