/target
/.metadata
/.settings
/*.classpath
/*.project
/.travis/travis
/bin/
/src/test/resources/persistence_unittest.xml
/src/main/webapp/WEB-INF/jumpup-ds.xml
/src/main/webapp/WEB-INF/configs/*.local
