<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="connection.url">jdbc:postgresql://localhost:5432/ecm_politik_mt</property>
		<property name="connection.username">ecm</property>
		<property name="connection.password">ecm</property>
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		

		<mapping class="com.database.Survey_question" />
	</session-factory>
</hibernate-configuration>
